@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap");

:root {
  --dark: #292929;
  --ltDark: #797979;
  --light: #c2c2c2;

  --lightO: rgb(194, 194, 194, 0.9);
  --lightLtO: rgb(194, 194, 194, 0.5);
  --darkO: rgb(0, 0, 0, 0.9);

  --green: #0c990c;
  --ltGreen: #00f800;
  --blue: #58bbf5;
}

/* GENERAL */

* {
  padding: 0;
  margin: 0;
  font-family: "Odibee Sans", sans-serif;
  overflow: hidden;
}

body {
  background: url("https://www.transparenttextures.com/patterns/triangles.png"),
    var(--dark);
  overflow: overlay;
}

a {
  text-decoration: none;
  outline: none;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--ltDark);
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: radial-gradient(circle, var(--ltDark) 70%, transparent);
}

/* FRONT PAGE */

.start {
  width: fit-content;
  padding: 10px 20px 20px;
  margin: 50px auto 50px;
  background: var(--lightLtO);
  border-radius: 10px;
  box-shadow: 2px 2px 4px var(--darkO);
  font-size: 50px;
}

.appFlex {
  min-height: 70vh;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
}
.appFlex a {
  width: 50%;
  align-self: center;
  cursor: default;
}

.diff {
  cursor: pointer;
  text-shadow: 1px 1px 0px var(--darkO), 2px 2px 0px var(--darkO);
  color: #fff;
  -webkit-text-stroke: 1px #000;
  transition: all 0.2s;
}
#easy:hover {
  color: var(--green);
}
#medium:hover {
  color: yellow;
}
#hard:hover {
  color: red;
}
#scoresLink {
  width: 100%;
  text-align: center;
  font-size: 20px;
  margin: 30px 0 0;
}
#scoresLink:hover {
  color: var(--blue);
  letter-spacing: 2px;
}
.diff:hover {
  text-shadow: 1px 1px 0px var(--darkO), 2px 2px 0px var(--darkO),
    3px 3px 0px var(--darkO), 4px 4px 0px var(--darkO);
}

.homeImage {
  width: 50%;
  height: 130px;
  align-self: center;
}

.aboutBtn a {
  left: inherit !important;
  right: 10px;
  box-shadow: 2px 2px 0px var(--darkO) !important;
}

/* ABOUT PAGE */

.aboutSection {
  width: 80vw;
  padding: 10px 20px 20px;
  margin: 50px auto 50px;
  background: var(--lightLtO);
  border-radius: 10px;
  box-shadow: 2px 2px 4px var(--darkO);
  color: #fff;
  text-shadow: 1px 1px 0 #000;
  font-size: 22px;
}

#title {
  font-size: 60px;
  text-shadow: 1px 1px 0px var(--darkO), 2px 2px 0px var(--darkO),
    3px 3px 0px var(--darkO), 4px 4px 0px var(--darkO);
  -webkit-text-stroke: 1px #000;
  cursor: default;
  text-align: center;
}

.aboutSection p {
  text-align: justify;
  letter-spacing: 0.5px;
  cursor: default;
}
.aboutSection a {
  color: var(--blue);
}
.aboutSection a:hover {
  text-decoration: underline;
}

/* HEADER */

.header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 16vh;
  background: var(--dark);
  border-bottom: 3px ridge var(--light);
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.4);
  color: var(--light);
  font-size: 28px;
  padding: 10px 10px 0;
  -webkit-text-stroke: 1px #000;
}

#one,
#two,
#three {
  display: inline-block;
  height: 100%;
  width: fit-content;
  text-align: center;
  vertical-align: middle;
  margin-right: 15px;
  cursor: default;
}

.imageOne,
.imageTwo,
.imageThree {
  display: inline-block;
  height: 15vh;
  width: 100px;
}

.imageOne:hover ~ #one,
.imageTwo:hover ~ #two,
.imageThree:hover ~ #three,
#one:hover,
#two:hover,
#three:hover,
.timer:hover {
  color: #fff;
}

.timer {
  float: right;
  margin: 30px 50px 0 0;
  cursor: default;
  font-size: 35px;
}

/* GAME IMAGE */

#image {
  display: block;
  overflow: auto;
  width: 100vw;
  height: 100vh;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.object {
  cursor: pointer;
}

/* DROPDOWN MENU */

.dropdown {
  position: absolute;
  background: var(--lightO);
  width: 200px;
  height: fit-content;
  border-radius: 10px;
  border: 1px solid var(--dark);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  font-size: 20px;
}
.section {
  text-align: center;
  padding: 5px 0;
  border-bottom: 1px solid var(--dark);
  cursor: pointer;
}
.section:nth-last-child(1) {
  border-bottom: none;
}
.section:hover {
  background: var(--light);
}

/* SCREENS */

.correct,
.wrong {
  display: none;
  position: fixed;
  top: 40vh;
  left: 40vw;
  font-size: 60px;
  font-weight: bold;
  text-shadow: 2px 2px 0px var(--dark);
  cursor: pointer;
}
.correct {
  color: var(--ltGreen);
}
.wrong {
  color: red;
}

.winner {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--darkO);
  cursor: default;
}
.winInner {
  width: 40vw;
  background: url("https://www.transparenttextures.com/patterns/triangles.png"),
    var(--dark);
  position: fixed;
  top: 30vh;
  left: 28vw;
  font-weight: bold;
  text-shadow: 3px 3px 0px var(--darkO);
  box-shadow: 2px 2px 0px var(--darkO);
  font-size: 60px;
  letter-spacing: 3px;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.winInner input {
  display: block;
  outline: none;
  width: 100%;
  font-size: 30px;
  padding: 2px;
  text-align: center;
  margin: 10px 0 5px;
}
.winInner button,
.flexBtns a,
#playAgain {
  font-size: 28px;
  background: var(--light);
  padding: 5px 20px;
  border-radius: 50%;
  box-shadow: 2px 2px 0px var(--darkO);
  border: none;
  cursor: pointer;
  outline: none;
}
.winInner a {
  color: #000;
}
.winInner a:hover,
#playAgain:hover {
  color: #fff;
  text-shadow: 1px 1px 0px #000;
}

.flexBtns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flexBtns a,
#playAgain {
  width: 20%;
  background: var(--lightLtO);
  height: fit-content;
  margin-top: 20px;
  font-size: 16px;
  text-shadow: none;
  color: #000;
}

/* HIGH SCORES */

.flex {
  display: flex;
  width: 100%;
  border-bottom: 2px ridge var(--light);
  width: 98%;
  margin: 10px auto 0;
}
.flex a {
  width: 100%;
  color: var(--light);
  text-shadow: 1px 1px 0px var(--darkO);
  font-size: 3vw;
  text-align: center;
  padding: 5px 0 10px;
  border: 1px solid var(--light);
  border-radius: 25px 25px 0 0;
  border-bottom: none;
  background: linear-gradient(180deg, var(--dark), var(--ltDark));
}
.flex a:hover {
  background: linear-gradient(180deg, var(--lightO), var(--ltDark));
  color: #fff;
}

.scoresTitle {
  font-size: 7vw;
  color: var(--light);
  text-shadow: 1px 1px 0px var(--darkO);
  width: 98%;
  text-align: center;
  margin: auto;
  border-bottom: 2px ridge var(--blue);
  cursor: default;
}

.sect {
  display: flex;
  border-bottom: 2px ridge var(--blue);
  text-align: center;
  color: var(--light);
  text-shadow: 1px 1px 0px var(--darkO);
  font-size: 25px;
  width: 98%;
  margin: auto;
  padding-top: 10px;
  letter-spacing: 1px;
}
.sect:hover {
  background: var(--ltDark);
  color: #fff;
}
#sectName {
  padding-left: 8vw;
}
#sectRecent {
  font-size: 18px;
  text-align: left;
  flex-grow: 1;
  padding-left: 10px;
  color: var(--blue);
}
#sectTime {
  text-align: center;
  width: 50%;
}

.table {
  text-align: center;
  font-size: 120px;
  color: var(--ltDark);
  text-shadow: 2px 2px 0px var(--darkO);
  cursor: default;
}

.button a {
  position: fixed;
  bottom: 15px;
  left: 10px;
  font-size: 25px;
  background: var(--lightLtO);
  padding: 5px 20px;
  border-radius: 50%;
  box-shadow: -2px 2px 0px var(--darkO);
  color: var(--dark);
  transition: all 0.2s;
}
.button a:hover {
  background: var(--ltDark);
  font-size: 30px;
  color: #fff;
}

/* MOBILE */

@media screen and (max-width: 800px) {
  #scoresLink {
    height: fit-content;
  }
  .imageOne,
  .imageTwo,
  .imageThree {
    display: none;
  }
  #one,
  #two,
  #three {
    height: 30px;
    width: 300px;
  }
  .timer {
    float: right;
    position: relative;
    bottom: 60px;
  }
  .correct,
  .wrong {
    left: 30vw;
  }
  .winInner {
    top: 25vh;
    left: 12vw;
    font-size: 30px;
    width: 70vw;
  }
  .flexBtns a,
  #playAgain {
    margin-left: -15px;
    background: none;
    box-shadow: none;
    text-decoration: underline;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 0px #000;
  }
  .sect {
    font-size: 4vw;
  }
  #sectRecent {
    font-size: 3vw;
  }
}
