:root {
  --dark: #292929;
  --ltDark: #797979;
  --light: #c2c2c2;

  --lightO: rgb(194, 194, 194, 0.9);
}

/* GENERAL */

* {
  padding: 0;
  margin: 0;
}

body {
  background: var(--dark);
  overflow: overlay;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px var(--ltDark);
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: radial-gradient(circle, var(--ltDark) 70%, transparent);
}

/* HEADER */

.header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 12vh;
  background: var(--dark);
  border-bottom: 3px ridge var(--light);
  box-shadow: 0px 5px 4px rgba(0,0,0,0.4);
}

/* GAME IMAGE */

.image {
  display: block;
  margin: 13vh auto 0;
  width: 1920px;
  height: 3581px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.object {
  cursor: pointer;
}

/* DROPDOWN MENU */

.dropdown {
  display: none;
  position: absolute;
  background: var(--lightO);
  width: 200px;
  height: fit-content;
  border-radius: 10px;
  border: 1px solid var(--dark);
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  overflow: hidden;
}
.section {
  text-align: center;
  padding: 5px 0;
  border-bottom: 1px solid var(--dark);
  cursor: pointer;
}
.section:hover {
  background: var(--light);
}