@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

:root {
  --dark: #292929;
  --ltDark: #797979;
  --light: #c2c2c2;

  --lightO: rgb(194, 194, 194, 0.9);
  --darkO: rgb(0, 0, 0, 0.9);
}

/* GENERAL */

* {
  padding: 0;
  margin: 0;
  font-family: 'Odibee Sans', sans-serif;
}

body {
  background: var(--dark);
  overflow: overlay;
}

a {
  text-decoration: none;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px var(--ltDark);
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: radial-gradient(circle, var(--ltDark) 70%, transparent);
}

/* FRONT PAGE */

.start {
  width: fit-content;
  padding: 10px 20px 20px;
  margin: 70px auto 0;
  background: var(--light);
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 2px 4px var(--darkO);
  font-size: 30px;
}

.diff {
  cursor: pointer;
  margin: 10px 0;
  text-decoration: none;
}
#easy {
  color: green;
}
#medium {
  color: yellow;
}
#hard {
  color: red;
}

/* HEADER */

.header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 16vh;
  background: var(--dark);
  border-bottom: 3px ridge var(--light);
  box-shadow: 0px 5px 4px rgba(0,0,0,0.4);
  color: var(--light);
  font-size: 25px;
  padding: 10px 10px 0;
}

#one, #two, #three {
  display: inline-block;
  height: 100%;
  width: fit-content;
  text-align: center;
  vertical-align: middle;
  margin-right: 15px;
  cursor: default;
}

.imageOne, .imageTwo, .imageThree {
  display: inline-block;
  height: 15vh;
  width: 100px;
}

.imageOne:hover ~ #one,
.imageTwo:hover ~ #two,
.imageThree:hover ~ #three,
#one:hover, #two:hover, #three:hover {
  color: #fff;
}
.imageOne:hover,
.imageTwo:hover,
.imageThree:hover {
  -webkit-filter: drop-shadow(0px 0px 4px var(--light));
  filter: drop-shadow(0px 0px 4px var(--light));
}

/* GAME IMAGE */

.image {
  display: block;
  margin: 16vh auto 0;
  width: 1920px;
  height: 3581px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.object {
  cursor: pointer;
}

/* DROPDOWN MENU */

.dropdown {
  position: absolute;
  background: var(--lightO);
  width: 200px;
  height: fit-content;
  border-radius: 10px;
  border: 1px solid var(--dark);
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  overflow: hidden;
  font-size: 20px;
}
.section {
  text-align: center;
  padding: 5px 0;
  border-bottom: 1px solid var(--dark);
  cursor: pointer;
}
.section:hover {
  background: var(--light);
}

.correct, .wrong {
  display: none;
  position: fixed;
  top: 40vh;
  left: 40vw;
  font-size: 60px;
  font-weight: bold;
  text-shadow: 2px 2px 0px var(--dark);
  cursor: pointer;
}
.correct {
  color: #00f800;
}
.wrong {
  color: red;
}